*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea/*
.safedk/app_sdks.lst
.safedk/hashes.safedk
.safedk/list.enc
.safedk/plugin.properties
.safedk/proguard-safedk.pro
.safedk/api/SafeDKAndroid-5.11.0.jar
.safedk/dex/android-support-multidex.dex
.safedk/dex/SafeDKAndroid-5.11.0.dex
