<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="29"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />


    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>

    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="com.android.vending.BILLING"/>


    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera2"
        android:required="false" />

    <queries>
        <package android:name="nat.pink.messenger" />
    </queries>

    <application
        tools:replace="android:allowBackup"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo"
        android:supportsRtl="true"
        tools:targetApi="31">

        <meta-data android:name="applovin.sdk.key"
            android:value="h4MnT3IKt4SmQgK4qMocaUBf20oH5Uz3klpc3w0cVvbAPHgsT9bl_f8O5oKbcw96pXpNrrKXx2wdM_qV7NqNpb"/>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6333075779989445~7098425734" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Base.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.video.child.VideoCallActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Base.NoActionBar"
            android:showOnLockScreen="true" />

        <activity
            android:name=".ui.video.child.VideoCallAnswerActivity"
            android:theme="@style/Theme.Base.NoActionBar"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.video.child.OutCommingActivity"
            android:theme="@style/Theme.Base.NoActionBar"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.chat.FragmentChat"
            android:theme="@style/Theme.Base.NoActionBar"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />

        <service android:name=".service.ChatHeadService" />

        <activity android:name="nat.pink.base.ui.chat.StickerActivity"
            android:theme="@style/Theme.Base.NoActionBar"
            android:screenOrientation="portrait" />

        <service android:name=".service.CallingService"  android:label="@string/app_name" android:enabled="true"/>

        <receiver
            android:name=".service.AlarmReceiver"
            android:enabled="true"
            android:exported="true"></receiver>
        <receiver
            android:name=".service.HangupReceiver"
            android:enabled="true"
            android:exported="true"></receiver>
    </application>

</manifest>